<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chryl.mapper.SbInfoMapper">
    <resultMap id="BaseResultMap" type="com.chryl.po.SbInfo">
        <id column="sb_id" jdbcType="VARCHAR" property="sbId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="sb_name" jdbcType="VARCHAR" property="sbName"/>
        <result column="sb_type" jdbcType="VARCHAR" property="sbType"/>
        <result column="sb_description" jdbcType="VARCHAR" property="sbDescription"/>
        <result column="sb_protocol_id" jdbcType="INTEGER" property="sbProtocolId"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    sb_id, user_id, sb_name, sb_type, sb_description, sb_protocol_id
  </sql>
    <select id="selectByExample" parameterType="com.chryl.po.SbInfoExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from sb_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sb_info
        where sb_id = #{sbId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sb_info
    where sb_id = #{sbId,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.chryl.po.SbInfoExample">
        delete from sb_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.chryl.po.SbInfo">
    insert into sb_info (sb_id, user_id, sb_name, 
      sb_type, sb_description, sb_protocol_id
      )
    values (#{sbId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{sbName,jdbcType=VARCHAR}, 
      #{sbType,jdbcType=VARCHAR}, #{sbDescription,jdbcType=VARCHAR}, #{sbProtocolId,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.chryl.po.SbInfo">
        insert into sb_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sbId != null">
                sb_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="sbName != null">
                sb_name,
            </if>
            <if test="sbType != null">
                sb_type,
            </if>
            <if test="sbDescription != null">
                sb_description,
            </if>
            <if test="sbProtocolId != null">
                sb_protocol_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sbId != null">
                #{sbId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="sbName != null">
                #{sbName,jdbcType=VARCHAR},
            </if>
            <if test="sbType != null">
                #{sbType,jdbcType=VARCHAR},
            </if>
            <if test="sbDescription != null">
                #{sbDescription,jdbcType=VARCHAR},
            </if>
            <if test="sbProtocolId != null">
                #{sbProtocolId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.chryl.po.SbInfoExample" resultType="java.lang.Long">
        select count(*) from sb_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update sb_info
        <set>
            <if test="record.sbId != null">
                sb_id = #{record.sbId,jdbcType=VARCHAR},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=VARCHAR},
            </if>
            <if test="record.sbName != null">
                sb_name = #{record.sbName,jdbcType=VARCHAR},
            </if>
            <if test="record.sbType != null">
                sb_type = #{record.sbType,jdbcType=VARCHAR},
            </if>
            <if test="record.sbDescription != null">
                sb_description = #{record.sbDescription,jdbcType=VARCHAR},
            </if>
            <if test="record.sbProtocolId != null">
                sb_protocol_id = #{record.sbProtocolId,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update sb_info
        set sb_id = #{record.sbId,jdbcType=VARCHAR},
        user_id = #{record.userId,jdbcType=VARCHAR},
        sb_name = #{record.sbName,jdbcType=VARCHAR},
        sb_type = #{record.sbType,jdbcType=VARCHAR},
        sb_description = #{record.sbDescription,jdbcType=VARCHAR},
        sb_protocol_id = #{record.sbProtocolId,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.chryl.po.SbInfo">
        update sb_info
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="sbName != null">
                sb_name = #{sbName,jdbcType=VARCHAR},
            </if>
            <if test="sbType != null">
                sb_type = #{sbType,jdbcType=VARCHAR},
            </if>
            <if test="sbDescription != null">
                sb_description = #{sbDescription,jdbcType=VARCHAR},
            </if>
            <if test="sbProtocolId != null">
                sb_protocol_id = #{sbProtocolId,jdbcType=INTEGER},
            </if>
        </set>
        where sb_id = #{sbId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chryl.po.SbInfo">
    update sb_info
    set user_id = #{userId,jdbcType=VARCHAR},
      sb_name = #{sbName,jdbcType=VARCHAR},
      sb_type = #{sbType,jdbcType=VARCHAR},
      sb_description = #{sbDescription,jdbcType=VARCHAR},
      sb_protocol_id = #{sbProtocolId,jdbcType=INTEGER}
    where sb_id = #{sbId,jdbcType=VARCHAR}
  </update>

    <!-- 分页 -->
    <select id="queryAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sb_info s
            <if test="startIndex != null or skip != null">
                LIMIT
                <if test="startIndex != null">
                    #{startIndex}
                </if>
                <if test="startIndex != null and skip != null">
                    ,
                </if>
                <if test="skip != null">
                    #{skip}
                </if>
            </if>

    </select>

</mapper>